%h1 Welcome to YogAsana

=image_tag("https://www.artofliving.org/sites/www.artofliving.org/files/styles/section_page_carousel_image/public/achievement_carousel_image/Yoga---Homepage-02.jpg?itok=EMMz1jwD", hieght: 100)