.block
  .secondary-navigation
  .content
    - if params[:search].blank? || @asanas_searched.blank?
      #search_error
        %h2
          Sorry no matching results for keyword '#{params[:search]}'
        %br
        %br
        %br
        - @asanas_searched = Asana.all
        - @asanas_searched.each do |asana|
          %p
            = link_to asana.name, asana_path(asana)
          =image_tag(asana.image)
          %br
          %br
    - else
      %h2.title
        All articles containing keyword '#{params[:search]}'
      %br
      - @asanas_searched.each do |asana|
        %p
          = link_to asana.name, asana_path(asana)
        =image_tag(asana.image)
        %br
        %hr
