.block
  .secondary-navigation
  .content
    - if params[:search].blank? || @asanas_searched.blank?
      #search_error
        Sorry no matching results for keyword '#{params[:search]}'
    - else
      %h2.title
        All articles containing keyword '#{params[:search]}'
      %br
      - @asanas_searched.each do |asana|
        %p
          = link_to asana.name, asana_path(asana)
        =image_tag(asana.image)
